
body {
  font-family: 'Helvetica Neue', sans-serif;
}
.debug{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
}
.my_header_color{
  background-color: #2b3d4f;
}
a{
  color: #137964;
  text-decoration: none;
}
.my_jumbo_color{
  background-color: #1abc9c;
}
.my_about_color{
  background-color: #1abc9c;
}
.my_img_cont{
  height: 250px;
  width: 250px;
}
.social-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.menu-hamb{
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.my_small_container{
  height: 60px;
}
.continuous-line{
  border-bottom: 3px solid #000; 
  width: 10%; 
  margin: 0;
  padding: 0;
}

header{
  height: 90px;
}

li a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: 300;
}
/* jumbotron */
img{
  max-width: 100%;
}
.ls_img{
  height: 250px;
  width: 230px;
}
.ls_title{
  height: 30px;
  width: 330px;
}
/* jumbotron */
.la_card{
  min-height: 60px;
}
.ls_container{
    
  width: 80%;
  margin: 0 auto;
}
ul li{
  list-style: none;
  text-decoration: none;
}
.ls_card{
  border: 1px solid black;
}
.contact-me .form{
  min-height: 200px;
}
.portfolio .la_card{
  min-height: 300px;
  background-color:rgba(255, 0, 0, 0.3); ;
}
/* form */
.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

.my_button {
  background-color: #1abc9c;
  border: none;
}

.my_button:hover {
  background-color: #137964;
}