[class^="container"],[class^="col"]{
   background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;
  /* min-height: 80px; */
  /* heigth di debug */
  
}
body {
  font-family: 'Helvetica Neue', sans-serif;
}
.debug{
  background-color: rgba(255, 0, 0, 0.3);
  border: 1px solid black;

}

header{
  height: 90px;
  
  /* sempre di debug altezza  */
}
section{
  /* padding: 60px 0; */
}
li a{
  text-decoration: none;
  list-style: none;
}
/* jumbotron */
img{
  max-width: 100%;
}
.ls_img{
  height: 250px;
  width: 230px;
}
.ls_title{
  height: 30px;
  width: 330px;
}
/* jumbotron */
.la_card{
  min-height: 60px;
}
.ls_container{
    
  width: 80%;
  margin: 0 auto;
}
ul li{
  list-style: none;
  text-decoration: none;
}
.ls_card{
  border: 1px solid black;
}
.contact-me .form{
  min-height: 200px;
}
.portfolio .la_card{
  min-height: 300px;
  background-color:rgba(255, 0, 0, 0.3); ;
}
/* form */
.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

.my_button {
  background-color: #1abc9c;
  border: none;
}

.my_button:hover {
  background-color: #137964;
}